<div class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select
            panelClass="sort-select"
            [(ngModel)]="sort"
        >
            <mat-option value="name">Name</mat-option>
            <mat-option value="-released">Released</mat-option>
            <mat-option value="-added">Added</mat-option>
            <mat-option value="-created">Created</mat-option>
            <mat-option value="-updated">Updated</mat-option>
            <mat-option value="-rating">Rating</mat-option>
            <mat-option value="metacritic">Metacritic</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="games">
    <div class="game">
        <div class="game-thumb-container">
            <img
                class="game-thumbnail"
                src="https://i.pinimg.com/736x/64/d2/51/64d251e8d1a9dc544cefe64b51b6b4c3.jpg"
                alt="thumbnail"
            />
        </div>
        <div class="description">
            <p class="game-name">Name</p>
            <div class="game-platforms">
                <img 
                    src="https://s3.amazonaws.com/images.seroundtable.com/google-images-1548419288.jpg" 
                    alt="slug" 
                    class="game-platform" 
                />
            </div>
        </div>
    </div>
</div>